<div>
  <style>
  #top{
    height:50px;
    clear:both;
    background-color:f8f9fa;
  }
  </style>
  <div id="top">
    <h4 style="text-align:left"><a href="">💊 PACO</a></h4>
  </div>
  <div id="body">
    <h5>Sua senha foi reiniciada</h5>

    Oi, <strong>{$user_name}</strong><br><br>

    Conforme você solicitou, resetamos sua senha para que você possa voltar ao PACO!
    <br>
    <br>
    <br>
    <table id="dados">

      <tr>
        <th>Login:</th><td> {$login}</td>
      </tr>
      <tr>
        <th>Senha</th><td> {$temp_pass}</td>
      </tr>

    </table>
    <br>
    <br>

    Assim que fizer login, vá em 'Meu Perfil' e altere sua senha novamente.

    <br>
    <br><br>
    Leon Nascimento,<br>
    PACO
  </div>
</div>
