{include="meta"}


<div id="comment_form">

  <fieldset class="card">
    <form>
    <legend>Comentário</legend>
      {if="isset($patient_data_id)"}
      {$data = JSON_decode(PatientData::get_from_id($patient_data_id)->to_JSON(), true)}
      <input type="hidden" name="patient_data_id" value="{$patient_data_id}"/>
      {/if}
      <input type="hidden" name="task" value="{$task}"/>
      <input type="hidden" name="patient" value='{$_SESSION["active_patient"]}'/>
      <input type="hidden" name="author" value='{$_SESSION["active_user_id"]["id"]}'/>

      <label for='subject'></label>
      <select name="subject" class="ptd_select form-control">
        <option value="Admissão">Nova admissão</option>
        <option value="Acompanhamento">Acompanhamento de paciente</option>
        <option value="Intercorrência">Intercorrência com o paciente</option>
        <option value="Intervenção">Intervencao farmacêutica</option>
        <option value="Alta">Alta</option>
      </select>
  
      <label for="content"></label>
      <center>
        
      {if="isset($data.content)"}  
      <textarea name="content" value="" class="ptd-content form-control">{$data.content}</textarea>
      {else}
      <textarea name="content" value="" class="ptd-content form-control"></textarea>
      {/if}
      
      {if="$task == 'add_com'"}
      <br>
      <input type="button" class="btn btn-outline-success" onclick ="patient_data_handler(this,'POST')" value="Adicionar Comentário"/>
      {else}
      <input type="button" class="btn btn-outline-success" onclick ="patient_data_handler(this,'POST')" value="Editar Comentário"/>
      {/if}
      </center>
    </form>
  </fieldset>
</div>
