<!DOCTYPE html>
<html lang="pt-br">
{include="meta"}

<body>
  {include="header"}

  <div class="dashboard">
    <h3 class="card-title">
      <center>Exibindo pacientes de {$_SESSION['active_user_id']['user_name']}</center>
    </h3>

    <div id="dashboard" class="clearfix card">

      <div id="pacientes" class="sidebars">
          <ul>
            <input id="ptt_add" type="button" class="btn btn-outline-success" onclick="load_page('Controller/patients.php?task=novo','GET')" value="Novo paciente"></input>
            {loop="$patients"}
            <li class='card' onmouseover="give_emphasis(this)" onclick="show_data(this)">
              <ul>
                <input type="hidden" id="ptt_id" name='id' value="{$value.id}"></input>
                <li> Nome : {$value.name}</li>
                <li> Nascimento : {$value.birth}</li>
                <li> Admissão : {$value.admission_date}</li>
              </ul>
            </li>
            {/loop}
          </ul>

      </div>

      <div id="show_area" class="content">
        {include="manutencao"}
      </div>

    </div>

</div>
  {include="footer"}
</body>
</html>
