<!DOCTYPE html>
<html lang="pt-br">
    {include="meta"}
<body>
    {include="header"}
<divid="dashboard" >
  <div>
    <h3 class="card-title">Exibindo pacientes de {$_SESSION['active_user_id']['user_name']}</h3>
  
    <div id="pacientes" style="width:200px">
      <input type="button" onclick="load_page('Controller/patients.php?task=adicionar','GET')" value="Novo paciente"></input>
      <ul>
      {loop="$patients"}
      <li>
        {loop="$key"}
          {$key} |
        {/loop}
      </li>
      {/loop}
      </ul>

    </div>

  </div>
</div>
  {include="footer"}
</body>
</html>
