<!-- HEADER AND NAVBAR -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/PACO_2018">💊 PACO</a>

        <div id="navbar-nav" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
          {if="isset($_SESSION['active_user_id'])"}

            <li class="nav-item">
                <a class="nav-link" href='/PACO_2018/index.php'>Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">Meus Pacientes</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Comentários</a>
            </li>
            <li class="nav-item justify-end-content">
                <a class="nav-link" href="Controller/users.php?task=logout">{$_SESSION['active_user_id']['user_name']}::Sair</a>

                {else}
                <li class="nav-item">
                <a class="nav-link" href="#" onclick="load_page('Controller/users.php?task=registro','GET')"> Cadastre-se </a>
            {/if}
            </li>
            {if="!isset($_SESSION['active_user_id'])"}
            <li class="nav-item">
                <a class="nav-link" href="#Sobre">Saiba mais</a>
            </li>
            {/if}
          </ul>
      </div>

      {if="isset($_SESSION['active_user_id'])"}
          <label for="patientlist"></label>
          <select id="patientlist">
            {loop="$patientlist"}
            <option>{$patient_name}, {$admission_date}</option>
            {/loop}
          </select>
      {else}
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" name='login' type="text" placeholder="Login">
          <input class="form-control mr-sm-2" name='senha' type="password" placeholder="Senha">
          <input type='hidden' name='task' value='login'/>
          <span><button type="button" class="btn btn-outline-success my-2 my-sm-0" onclick="load_page('Controller/users.php','POST',this)">Login</button></span>
        </form>
      {/if}
    </nav>
</header>
<div id="main-content" class="container">
