<div class = 'jumbotron landing-jumbo' >
  <div class='container title' id='texto_titulo'>
    <div>
        <h1> PACO </h1>
        <h3> Programa de acompanhamento farmacoterapêutico</h3>
        <br>
        Todos os seus pacientes em um só lugar.<br>
        <small>Acompanhe, avalie, discuta.</small><br>
        <div>
            <a href='#register'><button type='button' class='btn btn-success'> Inscreva-se </button></a>
        </div> <!--fim texto titulo -->
    </div> <!--fim container-->
  </div>
</div>
