<head>
  <title>{isset($title)?$title : ""}: PACO - Programa de acompanhamento farmacoterapêutico</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

  <!-- CSS e similares -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/PACO_2018/Views/CSS/styles.css" />
  <link rel="shortcut icon" href="Views/favicon.png" />
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//unpkg.com/navigo@6"></script><!-- NAVIGO -->

  
  <script src="/PACO_2018/scripts.js"></script>
  
  
</head>
