<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<div class='card'>
  <div class="alert alert-light">
    <center>
      <h1 class="alert-heading">Seja bem vindo, {$user_name}</h1>
      <br>
      <small>Este email foi enviado para {$email} para confirmação da conta</small><br>
      <hr></center>
      <p>
        Com o PACO, você consegue adicionar novos pacientes, ver suas prescrições, resultados laboratoriais e comentar sobre eles.
      Também é possível compartilhar dados para discutir em grupo com outros profissionais.
      <center>
      <br><i>Assim, você consegue oferecer o melhor cuidado possível para seus pacientes.</i>
    </center><br><br>
      <hr> <small>Seu login no PACO é<strong> {$login}</strong></small>
      </p>
  </div>
</div>
