<div class="card">
  <table class="table">
  <tr>
    <th>Nome completo</th><td>{$patient.name}</td>
  </tr>

  <tr> {$nasc = $patient.birth}
    <th>Data de Nascimento</th><td>{$nasc}</td>
  </tr>

  <tr>
    <th>Sexo </th>
      <td>
      {if="$patient.sex == 1"}
      Masculino</td>
      {else}
      Feminino</td>
      {/if}
  </tr>

  <tr>
    <th>Data de admissão</th><td>{$patient.admission_date}</td>
  </tr>

  <tr>
    <th> Status</th>
      <td>
      {if="$patient.status == 'true'"}
      Ativo</td>
      {else}
      Inativo</td>
      {/if}
  </tr>

  </table>
  <button onclick="collapse_toggle(this,'actions')"class="btn btn-outline-success">Mostrar ações de usuário </button>

  <div id="actions" class="collapse row">
    <form class="card">
      <input type='hidden' name='id' value="{$patient.id}"></input>
      <center>
        <input id="new_pre" type='button' class="col-2 btn btn-outline-success" name="ignore" onclick="patient_data_handler(this,'GET')" value="Nova prescrição"></input>
        <input id="new_res" type='button' class="col-2 btn btn-outline-success" name="ignore" onclick="patient_data_handler(this,'GET')" value="Novos exames"></input>
        <input id="new_com" type='button' class="col-2 btn btn-outline-success" name="ignore" onclick="patient_data_handler(this,'GET')" value="Novo comentário"></input>
        <input type='button' class="col-2 btn btn-outline-success" name="ignore" onclick="patient_action_select(this,'POST')" value="Mudar Status"></input>
        <input type='button' class="col-2 btn btn-outline-success" name="ignore" onclick="patient_action_select(this,'GET')" value="Editar"></input>
        <input type="button" class="col-2 btn btn-outline-success" name="ignore" onclick="patient_action_select(this,'POST')" value="Remover"></input>
      </center>
    </form>
  </div>
  <hr>  
</div>
{include="show_comments"}
