<div class="content card">
  <div>
  <fieldset id="registro">
    <legend class="card-title">Cadastrar usuário </legend>
    <form id="registro-form" class="card-body" action="Controller/users.php" method="post">

      <input name="task" type=hidden value="registrar" required>
      <div>
        <label class="registro-label" for="nome">Nome:</label>
        <input class="registro-input" type="text" name="nome"/ required>
      </div>
      <div>
        <label class="registro-label" for="email">E-mail:</label> <!-- Validar via JS -->
        <input class="registro-input" type="text" name="email"/ required>
      </div>
        <label class="registro-label" for="login">Login:</label>
        <input class="registro-input" type="text" name="login"/ required>
      <div>
        <label class="registro-label" for="senha">Senha:</label>
        <input class="registro-input" type="text" name="senha"/ required>
      </div>
        <input class="registro-input" type="button" onclick="console.log(this)" style="width:100%" value="Registrar"/>

      Todos os campos são obrigatórios
    </form>
  </fieldset>
  <div>
</div>
