{function="Helper::update_list('COMMENTS')"}
<h3> Mostrando últimos comentários</h3>

<hr>
{if="sizeof($_SESSION['on_view'])>0"}
  {loop="$_SESSION['on_view']"}
    <div class="card">
    <h3>{$value.subject} </h3>
      por: {$value.user_name} em {$value.date}
    <hr>
    <p>
      {$value.content}
    </p>
    <form>
      <input type="hidden" name="patient_data_id" value="{$value.id}"/>
      <input type="hidden" name="task" value="edit_com" />
      <input type="button" value="Editar" onclick="patient_data_handler(this,'GET')" class="btn btn-outline-success"/>
    </form>
    </div>
  {/loop}
{else}
<span class="text-muted">Não há comentários para este paciente</span>
{/if}
