{$stats = Controller::get_stats(UserController::get_active_user_id())}

<div>
    <h5>Mostrando dados sobre os pacientes de {$_SESSION['active_user']['user_name']}</h5>
    <hr>

    <div class="card">
        <span>Atualmente, você</span>
        <p>
            <ul>
                <li>Atendeu N pacientes, sendo n do sexo feminino e n do sexo masculino
                    <ul>
                        <li>N estão ativos no momento</li>
                        <li>O tempo médio de acompanhamento são N dias</li>
                        <li>O último paciente visto foi <b>{$stats.recente.name}</b></li>
                    </ul>
                </li>
                <hr>               
                <li>Você incluiu N prescrições, numa média de X por paciente</li>
                <hr>
                <li>Você incluiu N resultados laboratoriais, numa média de X por paciente</li>
                <hr>
                <li>Você comentou em N pacientes, numa média de X por paciente</li>
            </ul>
        </p>



    </div>

</div>