/*----------- Mudanças de estilo em elementos -----------*/
footer{
  left: 0;
  right:0;
  position:absolute;
}
header{
  margin-bottom:1%;
}

select{
  max-width:auto;
}

p{
  line-height:2em;
  margin:10px;
  text-align:justify;
}

ul, ol{
  padding:0;
  list-style-type: none;
}

/*----------- Mudanças de estilo em classes -------------*/
.landing-jumbo{
    background-image:url("https://images.newrepublic.com/a15ce6d85e011dcb0fc8415a820dd34f5189b9e8.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    color:white;
    font-size:3vmin;
    height:auto;
    margin:0;
}
.pagebottom{
  padding: 1rem;
  height:50px;
  background-color: #efefef;
  text-align: center;
}

.icons-text{
    font-size:0.75em;
    line-height:1em;
}
.ico{
    max-width:120px;
    max-height:120px;
}

.card{
  margin:1% 0 1% 0;
  padding:2em;
}

.registro-label{
  width:64px;
  text-align:left;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.sidebars{
  font-size:auto;
  max-width:35%;
  position:absolute;
  margin-right:65%;
  padding-right:19px;
  float:left;
  overflow-y:auto;
  height:100%;
  background-color:white;
}
.content{
  margin-left:35%;
  max-width:65%;
}
.profile-form{
  max-width:66vw;
}
.profile-form .form-control{
  margin-bottom:5px;
}

.ptd_select{
  width:100%;
}
.ptd-content{
  height:50vh;
  width:100%;
}
#dashboard{
  min-height:75vh;
  height:auto;
  overflow-y:hidden;
}
#profile{
  overflow-y:hidden;
}
/* --------------- Elementos específicos ----------------*/
#main-content{
  min-height:100vmin;
  margin: 5% auto;
}
#main-content{
  margin:2% auto 2%;
}

#Sobre.card{
  max-width:100%;
}

#error_text{
  color:#FF0000;
}

#ptt_add{
  width:100%;
}
/*------------------Hacks 4 dayz --------------*/
html {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}
